/* Common */
html { font-size: 62.5%; }
body { font-size: 1.6rem; } /* =14px */

.page-content {
  padding-top: 15px;
  padding-bottom: 15px;
}

.feature-img {
  display: block;
}

.title {
  display: block;
}

.feature-img > img {
  width: 100%;
  display: block;
  height: auto;
}

a {
  color: rgb(66,66,66) !important;
  text-decoration: none !important;
}


/* Components */
.excerpt {
  border-bottom: 1px solid rgba(179,179,179, 0.4);
  padding-bottom: 10px;
  color: rgb(179,179,179);
}

.top-news {
  margin-bottom: 15px;
}

.top-news .title > h1 {
  font-size: 3.0rem;
  margin-top: 10px;
}

.single-news {
  padding-top: 10px;
  padding-bottom: 10px;
}

.single-news img {
  width: 100%;
  display: block;
}

.single-news .title > h2 {
  margin-top: 0;
  font-size: 2.0rem;
}

.title + span {
  font-size: 1.6rem;
  color: rgb(179,179,179);
}

.list-related {
  padding-top: 20px;
}

.list-related > h2 {
  border-bottom: 1px solid rgba(179,179,179, 0.4);
  padding-bottom: 10px;
  font-size: 2.0rem;
  font-weight: 400;
  color: rgb(179,179,179);
  text-transform: uppercase;
}

.news-detail > img {
  width: 100%;
}

.news-content img {
  max-width: 100%;
}

.pager .disabled > span {
  background-color: #eee;
}